table {
    border: none;
    background: url("board.png") no-repeat center;
    background-size: 100%;
}

td {
    width: 100px;
    height: 70px;
    background: no-repeat center;
    background-size: 80%;
}

caption {
    font-size: 4em;
}

#gameArea {
    width: 600px;
    margin: auto;
}