* { padding:0; margin:0; outline:0; }
body {
	font-family: Verdana, Arial, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#666;
	background:#eeefef;
}

.left { float:left; display:inline; }
.right { float:right; display:inline; }

a { color:#364f86; text-decoration: none; cursor:pointer; }
a:hover { color:#000; }


.shell { width:980px; margin:0 auto; }


h1 { font-family: Verdana, Arial, sans-serif; padding-bottom:8px; }
h1 { font-size:18px; line-height:22px; }
h2 { font-family: Verdana, Arial, sans-serif; padding-bottom:8px; }
h2 { font-size:18px; line-height:22px; }


#header { background:#364f86; height:82px; }
#header h1{ float:left; white-space:nowrap; padding-top:8px; font-size:25px; line-height:35px; color:black;}
#header a{ color:#fff }
#header a:hover{ color:#a1adc7; }

#header #head { height:43px; overflow:hidden; }
#header .right { color:#fff; white-space:nowrap; font-size:10px; }
#header .right p{ padding-top:12px;}
#header .right a strong{ text-decoration: underline; }


#navigation { height:31px; }
#navigation ul{ list-style-type: none; padding-top:8px; font-size:15px; }
#navigation ul li{ float:left; display:inline; margin-right:5px;}
#navigation ul li a,
#navigation ul li a span { float:left; display:inline; height:31px; padding:0 0 0 8px; background-color: white; }
#navigation ul li a span { padding:0 8px 0 0; background-position:right 0; }
#navigation ul li a { color:#ddadab; line-height:29px;}
#navigation ul li a.active { font-weight: bold;}

#navigation ul li a:hover,
#navigation ul li a.active { background-position:0 bottom; color:#887e42; }

#navigation ul li a:hover span,
#navigation ul li a.active span{ background-position:right bottom; }


#content { padding:10px 0 20px 0;}
#content p{ padding-bottom:15px;}
#content ul{ padding: 0 0 15px 25px;}
#content li{ padding-bottom:3px; }
#content a { text-decoration: underline;}
#content a:hover { text-decoration: none;}

.message {color:#3d8b26; width:630px; height:50px; text-align: center; margin:15px auto 15px auto; font-size:26px;}

#view{
    position:relative;
    left:200px;
    width:80%;
    border:1px solid black;
}
#view th, td{
    padding:1px;
    border:1px solid black;
}

#title{
    font-size: 25px;
    color:#3d8b26;
}

.input_box{
    width:350px;
    padding-bottom: 15px;
    margin: 0 auto;
    overflow: hidden;
}